/**/
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
/*       'Open Sans', sans-serif     */
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700);
/*       'Open Sans Condensed', sans-serif*/


/*@import "../css/reset.css";*/
a,abbr,acronym,address,applet,article,aside,audio,b,blockquote,big,body,center,canvas,caption,cite,code,command,datalist,dd,del,details,dfn,dl,div,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,keygen,label,legend,li,meter,nav,object,ol,output,p,pre,progress,q,s,samp,section,small,span,source,strike,strong,sub,sup,table,tbody,tfoot,thead,th,tr,tdvideo,tt,u,ul,var{background:transparent;border:0 none;font-size:100%;margin:0;padding:0;border:0;outline:0;vertical-align:top;}ol, ul {list-style:none;}blockquote, q {quotes:none;}table, table td {padding:0;border:none;border-collapse:collapse;}img {vertical-align:top;}embed {vertical-align:top;}input[type=text], textarea{ outline:none;border-radius:0;}

input {
    outline: none !important;
    border-radius: 0 !important;
}

html {
    width: 100%;
}

a[href^="tel:"] {
    color: inherit;
    text-decoration: none;
}

* {
    -webkit-text-size-adjust: none;
}

body {
    font: 14px/20px Arial, Helvetica, sans-serif;
    color: #a1a1a1;
    background-color: #55acee;
    position: relative;
    min-width: 960px;

}

.ic {
    border: 0;
    float: right;
    background: #fff;
    color: #f00;
    width: 50%;
    line-height: 10px;
    font-size: 10px;
    margin: -220% 0 0 0;
    overflow: hidden;
    padding: 0
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
    color: #55acee;
    text-transform: uppercase;

}

h2 {
    padding-top: 64px;
    text-align: center;
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 48px;
}

h3 {
    text-align: center;
    font-size: 20px;
    line-height: 33px;
    padding-top: 62px;
    margin-bottom: 24px;
    background: url(../images/h3_bg.png) 0 74px repeat-x;
}

h3.head1 {
    background: no-repeat;
    text-align: left;
    padding-top: 62px;
}

h3.head2 {
    margin-top: -42px;
}

h3.head3 {
    padding-bottom: 30px;
    margin-top: -30px;
}

h3.head1.h1 {
    padding-top: 59px;
}

.page1 h3 {
    background-position: 0 13px;
    padding-top: 0;
    margin-bottom: 54px;
}

h3 span {
    padding: 0 36px;
    background-color: #fff;
    display: inline-block;
}

h2 > span {
    padding-top: 18px;
    color: #abaaaa;

    display: block;
    font-size: 24px;
    line-height: 33px;
}

h4 {
    padding-top: 14px;
    text-align: center;
    font-size: 17px;
    margin-bottom: 30px;
}

p {
    margin-bottom: 20px;
}

img {
    max-width: 100%;
}

address {
    font-style: normal;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.list {
    padding-right: 19px;
}

ul.list .count {
    float: left;
    width: 60px;
    margin-top: 5px;
    height: 52px;
    text-align: center;
    margin-right: 20px;
    line-height: 48px;
    color: #fff;
    font-size: 30px;
    background-color: #66757f;
    font-family: 'Open Sans', sans-serif;
}

ul.list li + li {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #d1d1d1;
}

ul.list1 {
    margin-top: -1px;
}

ul.list1 li {
    text-decoration: underline;
    padding-left: 36px;
    padding-top: 1px;
    background: url(../images/marker.png) 0 0px no-repeat;
}

ul.list1 li + li {
    margin-top: 11px;
}

ul.list1.l1 {
    padding-top: 16px;
    float: left;
    width: 50%;
}

ul.list1.l1 li {
    text-decoration: none;
    color: #626262;
    background-position: 0 1px;
}

/*links*/

a {
    text-decoration: none;
    color: inherit;
    outline: none;
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    cursor: hand;
}

a:hover {
    color: #55acee;

}

a.btn {
    color: #66757f;
    font: bold 14px/20px 'Open Sans Condensed', sans-serif;
    display: inline-block;
    margin-top: 33px;
}

a.btn:hover {
    color: #55acee;
}

/*preclass*/

.mb0 {
    margin-bottom: 0px !important;
}

.m0 {
    margin: 0 !important;
}

.mb1 {
    margin-bottom: 25px !important;
}

.ind1 {
    margin-top: 11px;
}

.pad0 {
    padding: 0 !important;
}

.pt0 {
    padding-top: 0;
}

.img_inner {
    max-width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 19px;
    position: relative;
}

.fleft {
    float: left;
    margin-right: 18px;
    margin-top: 5px;
    margin-bottom: 0px;
}

.page1 .fleft {
    margin-top: 1px;
    margin-right: 22px;
}

.fright {
    float: right !important;

}

.upp {
    text-transform: uppercase;
}

.alright {
    text-align: right;
}

.center {
    text-align: center;
}

.wrapper, .extra_wrapper {
    overflow: hidden;
}

.clear {
    float: none !important;
    clear: both;
}

/*header*/

header {
    width: 100%;
    height: 90px;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: #55acee;
    padding: 20px 20px;
    margin-bottom: 200px;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
}

header #logo_image {
    width : 150px;
    height: 122px;
    margin-top: -15px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}


header .hidden_logos {
    position: relative;
    top: 60px;
    margin-left: 750px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

header .menu_block {
    position: relative;
    z-index: 9999;
    float: right;
    top: 0px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

}

header.smaller {
    height: 20px;
}

header.smaller #logo_image {
    width: 70px;
    height: 57px;
    margin-top: -15px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

header.smaller .hidden_logos {
    position: relative;
    top: 90px;
    margin-left: 750px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

header.smaller .menu_block {
    position: relative;
    z-index: 999;
    float: right;
    top: -10px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

}


h1 {
    float: left;
    z-index: 999;

}

h1 a {
    display: block;
    overflow: hidden;
    width: 161px;
    height: 45px;
    text-indent: -999px;
    transition: 0s ease;
    -o-transition: 0s ease;
    -webkit-transition: 0s ease;
}

h1 a img {
    display: block;
}

/*Content*/

.col1 {
    color: #66757f;
}

.col2 {
    color: #5fabb5;
}

.col3 {
    color: #626262;
}

.content {
    background-color: #fff;
    padding-bottom: 68px;
    padding-top: 120px;
}

.page1 .content {
    padding-bottom: 70px;

}

.icon {
    text-align: center;
}

.icon img {
    margin-bottom: 18px;
}

.icon .title {
    font: 24px/33px 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #626262;
    margin-bottom: 19px;
}

.page1 .icon {
    margin-bottom: 59px;
}

.works {
    overflow: hidden;
    padding-top: 1px;
    margin-bottom: 53px;
    text-align: center;
}

.works .clear {
    height: 21px;
}

blockquote {
    padding-top: 1px;
    font-family: 'Open Sans', sans-serif;
}

blockquote p {
    font-family: Arial, Helvetica, sans-serif;;
    padding-top: 4px;
    margin-bottom: 8px;
}

blockquote .col2 {

}

.team {
    padding-top: 7px;
    margin: 0 -10px;
    overflow: hidden;
}

.team img {
    margin-bottom: 6px;
    border: 1px solid #d1d1d1;
}

.team .clear {
    height: 29px;
}

.text1 {
    font-size: 20px;
    text-transform: uppercase;
}

.port {
    overflow: hidden;
    padding-top: 5px;
}

.port a.gal {
    display: block;
    line-height: 0;
    margin-top: 0;
    font-size: 0;
    margin-bottom: 30px;
    background: url(../images/magnifier.png) center center no-repeat #000;

}

.port .clear {
    height: 28px;
}

.port a {
    font: 14px/18px 'Open Sans Condensed', sans-serif;
    display: inline-block;
    margin-top: 5px;
    text-transform: uppercase;
}

.port .text1 {
    margin-bottom: 7px;
    font-size: 18px;
}

a.gal img {
    width: 100%;
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
}

a.gal:hover img {
    opacity: 0.76;
}

.pb1 {
    padding-bottom: 7px;
}

.logos {
    overflow: hidden;
    padding-top: 28px;
    margin-bottom: 38px;
}

.logos img {
    border: 1px solid #d3d3d3;
}

p.text1 {
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 14px;
}

/****Map***/

.map {
    padding-top: 12px;
}

.map figure {

    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    margin-bottom: 43px;

}

.map figure iframe {
    width: 100%;
    height: 325px;
    max-width: 100%;
}

.map address {
    padding-top: 10px;
    overflow: hidden;
    line-height: 20px;
}

address dt {
    color: #000;
}

address dd span {
    min-width: 85px;
    display: inline-block;
    text-align: left;
}

/************Footer***********/

footer {
    display: block;
    padding: 23px 0;
    font-size: 12px;
    color: #d7d7d7;
}

footer a:hover {
    color: #66757f;
}

.copy {
    padding-top: 9px;
    padding-bottom: 23px;

}

.socials {
    overflow: hidden;
    float: right;
}

.socials a {
    float: left;
    display: block;
    background: url(../images/socials.png) 0 0 no-repeat;
    width: 35px;
    height: 35px;
}

.socials a + a {
    margin-left: 7px;
    background-position: -42px 0;
}

.socials a + a + a {
    background-position: -84px 0;
}

.socials a + a + a + a {
    background-position: right 0;
}

.socials a:hover {
    opacity: 0.5;
}

/*#logo_image {*/
    /*width: 50%;*/
    /*height: 50%;*/
/*}*/

.paypal {
    position: absolute;
    float: left;
    padding-bottom: 10px;
}

.casescauri_footer {
    overflow: hidden;
}

.isep_logo {
    width: 100px;
    height: 60px;
    position: absolute;
    top: -10px;

}

.flag2 {
    width: 32px;
    height: 32px;
    position: absolute;
    left: 40px;
}

.flag3 {
    width: 32px;
    height: 32px;
    position: absolute;
    left: 80px;
}

.flag4 {
    width: 32px;
    height: 32px;
    position: absolute;
    left: 120px;
}

.flag5 {
    width: 32px;
    height: 32px;
    position: absolute;
    left: 160px;
}

.flag6 {
    width: 32px;
    height: 32px;
    position: absolute;
    left: 200px;
}

.hidden_logos {
    position: relative;
    top: 60px;
    margin-left: 750px;
}

.when {
    margin-left: -1px;
    margin-top: 10px;
}

.form_houses {
    position: relative;
    top: -50px;
}

.contact_form {
    margin-top: -45px;
}

.inline{
    display: inline-block;
    padding-left: 12px;
}

#about {
    margin-top: -100px;
}

hr.line {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,159,179,0), rgba(0,159,179,0.75), rgba(0,159,179,0));
    background-image:    -moz-linear-gradient(left, rgba(0,159,179,0), rgba(0,159,179,0.75), rgba(0,159,179,0));
    background-image:     -ms-linear-gradient(left, rgba(0,159,179,0), rgba(0,159,179,0.75), rgba(0,159,179,0));
    background-image:      -o-linear-gradient(left, rgba(0,159,179,0), rgba(0,159,179,0.75), rgba(0,159,179,0));
    margin-top: -25px;
}




/* ~~~~~~~~~~~~~ superfish ~~~~~~~~~~~~*/

/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}
.sf-menu li {
    position: relative;
}
.sf-menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99;
}
.sf-menu > li {
    float: left;
}
.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
    display: block;
}

.sf-menu a {
    display: block;
    position: relative;
}
.sf-menu ul ul {
    top: 0;
    left: 100%;
}


/*** DEMO SKIN ***/
.sf-menu {
    float: left;
    margin-bottom: 1em;
}

.sf-menu > li > a {
    font-size: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #fff;
    display: block;
    text-transform: uppercase;
    position: relative;
    /*line-height: 16px;*/
    z-index: 999999;
    padding: 9px 18px 9px;
    cursor: hand;
}

.sf-menu > li > a {
    font-size: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #fff;
    display: block;
    text-transform: uppercase;
    position: relative;
    /*line-height: 16px;*/
    z-index: 999999;
    padding: 9px 18px 9px;
    cursor: hand;

}


.sf-menu li ul li a {
    text-transform: uppercase;
    font: 18px/18px 'Open Sans Condensed', sans-serif;
    position: fixed;
    color: #FFF;
    padding: 5px 10px 5px 5px;
    background-color:rgba(0,159,179,0.8);
    margin-top: -20px;
}

.sf-menu li ul li {
    padding-top: 28px;
}

.sf-menu li ul li a:hover{
    color:#FFCC66;
}

.sf-menu li ul li a.current{
    color:#FFCC66;
    font-weight: bold;
}

.sf-menu > li.sfHover > a, .sf-menu > li.current > a, .sf-menu > li:hover > a:hover {
    background-color: #66757f;
}

/*** arrows (for all except IE7) **/
.sf-arrows .sf-with-ul {
    padding-right: 2.5em;
    *padding-right: 1em; /* no CSS arrows for IE7 (lack pseudo-elements) */
}
/* styling for both css and generated arrows */
.sf-arrows .sf-with-ul:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 1em;
    margin-top: -3px;
    height: 0;
    width: 0;
    /* order of following 3 rules important for fallbacks to work */
    border: 5px solid transparent;
    border-top-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
    border-top-color: rgba(255,255,255,.5);
}
.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
    border-top-color: white; /* IE8 fallback colour */
}
/* styling for right-facing arrows */
.sf-arrows ul .sf-with-ul:after {
    margin-top: -5px;
    margin-right: -3px;
    border-color: transparent;
    border-left-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
    border-left-color: rgba(255,255,255,.5);
}
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
    border-left-color: white;
}

.scroll_menu_container{
    margin-top: -30px;
}

/* ~~~~~~~~~~~~~ /superfish ~~~~~~~~~~~~*/



#wrapper_pin {
    width: 100%;
    margin: 10px auto;
}

.col_num_3{
    /*-webkit-column-count: 3;*/
}

.col_num_5{
    /*-webkit-column-count: 5;*/
}



#tweets_wall {
    -webkit-column-gap: 10px;
    -webkit-column-fill: auto;
    -moz-column-count: 3;
    -moz-column-gap: 10px;
    -moz-column-fill: auto;
    column-count: 3;
    column-gap: 15px;
    column-fill: auto;
}

.pin {
    display: inline-block;
    background: #FEFEFE;
    border: 2px solid #FAFAFA;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0 2px 15px;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    padding: 15px;
    padding-bottom: 5px;
    background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
    opacity: 1;

    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.pin h2 {
    padding-top: 0px;
    margin-top: -20px;
    font-size: small;
    border-bottom: 1px solid #ccc;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.pin p {
    font: 12px/18px Arial, sans-serif;
    color: #333;
    margin: 0;
}


/* --------------------------------

Modules - reusable parts of our design

-------------------------------- */
.timeline_container {
    /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
}
.timeline_container::after {
    /* clearfix */
    content: '';
    display: table;
    clear: both;
}

#tweets_timeline {
    position: relative;
    padding: 2em 0;
    margin-top: 2em;
    margin-bottom: 2em;
}

#tweets_timeline::before {
    /* this is the vertical line */
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: #d7e4ed;
}

.tweet_timeline_block {
    position: relative;
    margin: 2em 0;
}
.tweet_timeline_block:after {
    content: "";
    display: table;
    clear: both;
}
.tweet_timeline_block:first-child {
    margin-top: 0;
}
.tweet_timeline_block:last-child {
    margin-bottom: 0;
}


.timeline-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.tweet_timeline_content {
    position: relative;
    margin-left: 60px;
    background: white;
    border-radius: 0.25em;
    padding: 1em;
    box-shadow: 0 3px 0 #d7e4ed;
}
.tweet_timeline_content:after {
    content: "";
    display: table;
    clear: both;
}
.tweet_timeline_content h2 {
    color: #303e49;
}
.tweet_timeline_content p, .tweet_timeline_content .cd-read-more, .tweet_timeline_content .tweet_date {
    font-size: 13px;
    font-size: 0.8125rem;
}
.tweet_timeline_content .cd-read-more, .tweet_timeline_content .tweet_date {
    display: inline-block;
}
.tweet_timeline_content p {
    margin: 1em 0;
    line-height: 1.6;
}

.no-touch .tweet_timeline_content .cd-read-more:hover {
    background-color: #bac4cb;
}
.tweet_timeline_content .tweet_date {
    float: left;
    padding: .8em 0;
    opacity: .7;
}
.tweet_timeline_content::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid white;
}

.tweet_nickname h2{
    font-size: medium;
}

.tweet_nickname{
    margin-top: -50px;
    margin-bottom: -50px;
}